html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #111;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  touch-action:none;
}

#preloader {
  color: #fff;
  position: fixed;
  background-color: #111;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#preloader .preloader-footer {
  position: absolute;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 4px solid #fff;
  bottom: 0;
  left: 0;
  width: 0;
  text-align: center;
  padding-bottom: 0.5em;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  /* background-color: #3aa; */
}
#menu-toggle {
  color: #fff;
  font-size: 2em;
  background-color: rgba(100,100,100,0.5);
  height: 1.3em;
  width: 1.3em;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

  margin-bottom: 5px;
  
}
#menu-toggle:before {
  content: "\00d7";
}

#menu.closed #menu-container {
  display: none;
}
#menu.closed #menu-toggle:before {
  content: "\2630";
}

.hidden {
  display: none;
}

/* Tweakpane styles, see https://cocopon.github.io/tweakpane/theming.html */
:root {
  --tp-base-background-color: hsla(230, 20%, 11%, 1.00);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(230, 10%, 80%, 1.00);
  --tp-button-background-color-active: hsla(230, 10%, 95%, 1.00);
  --tp-button-background-color-focus: hsla(230, 10%, 90%, 1.00);
  --tp-button-background-color-hover: hsla(230, 10%, 85%, 1.00);
  --tp-button-foreground-color: hsla(230, 20%, 11%, 1.00);
  --tp-container-background-color: hsla(230, 25%, 16%, 1.00);
  --tp-container-background-color-active: hsla(230, 25%, 31%, 1.00);
  --tp-container-background-color-focus: hsla(230, 25%, 26%, 1.00);
  --tp-container-background-color-hover: hsla(230, 25%, 21%, 1.00);
  --tp-container-foreground-color: hsla(230, 10%, 80%, 1.00);
  --tp-groove-foreground-color: hsla(230, 20%, 8%, 1.00);
  --tp-input-background-color: hsla(230, 20%, 8%, 1.00);
  --tp-input-background-color-active: hsla(230, 28%, 23%, 1.00);
  --tp-input-background-color-focus: hsla(230, 28%, 18%, 1.00);
  --tp-input-background-color-hover: hsla(230, 20%, 13%, 1.00);
  --tp-input-foreground-color: hsla(230, 10%, 80%, 1.00);
  --tp-label-foreground-color: hsla(230, 12%, 48%, 1.00);
  --tp-monitor-background-color: hsla(230, 20%, 8%, 1.00);
  --tp-monitor-foreground-color: hsla(230, 12%, 48%, 1.00);
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-3 1:5:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

.blink {
	-webkit-animation: blink-2 3s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
	        animation: blink-2 3s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite both;
}

/**
 * ----------------------------------------
 * animation blink-2
 * ----------------------------------------
 */
 @-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
